/* main.css - a simple style sheet */

a {
	text-decoration: none;
}

body {
	font-family: "Nova Mono", "Century Gothic", Arial;
	background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
}

footer {
	width: 1010px;
	height: 105px;
	margin: 10px auto 0 auto;
	text-align: center;
	background: #66c6f1;
	background-image: url("../images/footerBg.png");
    background-repeat: no-repeat;
    background-size: cover;
	padding-top: 10px;
}

footer a:visited {
	color: blue;
}

header {
	width: 1010px;
	height: 150px;
	margin: 0px auto;
	background: #66c6f1;
	background-image: url("../images/headerBg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=submit] {
    background-color: #00A1E9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

input[type=submit]:hover {
    background-color: #32b3ed;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

nav {
	padding: 0px 0px 5px 15px;
}

textarea[name=comment] {
	width: 700px;
	height: 50px;
	float: left;
}

#arcade_content {
	background: white;
	height: 870px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#arcade_content  h2{
	margin: 0px 0px 0px 70px;
	padding-top: 10px;
}

#arcade_content #more_games {
	border: 4px solid #00A1E9;
    height: 790px;
    width: 865px;
    border-radius: 25px;
	margin-left: 70px;
    margin-top: 5px;
	font-size: 1em;
}

#buttons {
	float: right;
	width: 200px;
	margin-top: 10px;
}

#comForm {
	position:relative;
	width: 100%;
	text-align: center;
}

#comments table  {
	margin-top: 15px;
	width: 826px;
	border-collapse: collapse;
	border: none;
}

#comments table td {
	padding: 4px;
	border: none;
}

#comments table tr:nth-child(even) {
	background: #ccecfa;
}

#comments table tr:nth-child(odd) {
	background: white;
}

#comments thead {
	font-weight: bold;
}

#commentTextbox {
	padding: 5px;
}

#comment_section {
	border: 1px solid grey;
	border-top: none;
	border-bottom: none;
	margin: 20px 0px 40px 8%;
	float: left;
	padding: 20px;
	width: 825px;
	display: table-row;
}

#comment_wrapper {
	background: white;
	width: 1010px;
	margin: 0px auto;
	display: table;
}

#comments {
	padding-bottom: 35%;
	float: left; 
	padding-bottom:5px;
}

#game_container {
	margin-left: 5%;
	padding: 20px;
	float: left;
}

#game_window {
	position: relative;
	border: 1px solid black;
	border-radius: 25px;
	padding: 250px;
	float: left;
	display:flex;
	z-index:2;
}

#game_window div {
	display: inline;
	font-size: 1em;
}

#header_logo{
	height: 100px;
	width: 250px;
	display: inline-block;
}

#header_top {
	height: 100px;
	width: 750px;
	display: inline-block;
}



#home_content {
	background: white;
	height: 800px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#home_content h2{
	margin: 0px 0px 0px 70px;
	padding-top: 10px;
}

#home_content #more_games {
	border: 4px solid #00A1E9;
    height: 145px;
    width: 865px;
    float: left;
    border-radius: 25px;
	margin-left: 70px;
    margin-top: 5px;
	font-size: 1em;
}

#logo {
	width: 100%;
	height: 100%;
}

#game_content {
	background: white;
	height:870px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#more_games {
	border: 4px solid #00A1E9;
    height: 145px;
    width: 865px;
    float: left;
    border-radius: 25px;
	margin-left: 8%;
    margin-top: 5px;
	font-size: 1em;
}

#more_games a:visited {
	color: blue;
}

#more_games figure {
	margin: 15px 0px 0px 36px;
	padding-bottom: 15px;
	float: left;
	text-align: center;
}

#more_games img {
	width: 100px;
	height: 100px;
	border: 1px solid grey;
}

#more_games img:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#multiplayer_content {
	background: white;
	height: 870px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#multiplayer_content  h2{
	margin: 0px 0px 0px 70px;
	padding-top: 10px;
}

#multiplayer_content #more_games {
	border: 4px solid #00A1E9;
    height: 790px;
    width: 865px;
    border-radius: 25px;
	margin-left: 70px;
    margin-top: 5px;
	font-size: 1em;
}

#my_score {
	font-size: 1.5em;
	margin: 10px 0px 0px 25px;
}

#navbar {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#navbar li {
	float: left;
	list-style-type: none;
}

#navbar li a {
	border-radius: 25px;
	display: block;
	padding: 10px;
	margin-right: 50px;
	color: black;
	text-decoration: none;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
} 

#navbar li a:hover {
	background-color: #00A1E9;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#puzzle_content {
	background: white;
	height: 870px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#puzzle_content  h2{
	margin: 0px 0px 0px 70px;
	padding-top: 10px;
}

#puzzle_content #more_games {
	border: 4px solid #00A1E9;
    height: 790px;
    width: 865px;
    border-radius: 25px;
	margin-left: 70px;
    margin-top: 5px;
	font-size: 1em;
}

#scores {
	float: right;
	width: 300px;
	height: 620px;
    display: inline;
	margin: 33px 7% 0px 0px;
	text-align: center;
} 

#scores_list {
	list-style-type: none;
	border: 4px solid red;
	border-radius: 50px;
	text-align: center;
	width: 100%;
	height:80%
}

#scores_list table td {
	padding: 4px;
	width: 200px;
}

#scores_list thead {
	font-weight: bold;
}

#scores_list table {
	border-collapse: collapse;
	background-color:rgba(0, 0, 0, 0);
}

#social {
	width: 170px;
	height: 50px;
	margin: 0px 0px 0px 50px;
	border-bottom: grey;
}

#social img {
	padding-left:12px;
	width: 25px;
	height: 25px;
}

#strategy_content {
	background: white;
	height: 870px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#strategy_content  h2{
	margin: 0px 0px 0px 70px;
	padding-top: 10px;
}

#strategy_content #more_games {
	border: 4px solid #00A1E9;
    height: 790px;
    width: 865px;
    border-radius: 25px;
	margin-left: 70px;
    margin-top: 5px;
	font-size: 1em;
}

#topGames_content {
	background: white;
	height: 870px;
	width: 1010px;
	margin: 10px auto 0px auto;
}

#topGames_content  h2{
	margin: 0px 0px 0px 70px;
	padding-top: 10px;
}

#topGames_content #more_games {
	border: 4px solid #00A1E9;
    height: 790px;
    width: 865px;
    border-radius: 25px;
	margin-left: 70px;
    margin-top: 5px;
	font-size: 1em;
}

#trending_games {
	margin: 0px 0px 0px 60px;
	padding-top: 5px;
}

#trending_games a:visited {
	color: blue;
}

#trending_games figure:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background: #c1e8f9;
}

#trending_games figure {
	margin: 0px 0px 0px 50px;
	text-align: center;
	display: inline-block;
	padding: 30px;
	border: 1px solid grey;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

#trending_games img {
	width: 300px;
	height: 300px;
	border: 1px solid grey;
}

#user {
	margin-top: 5px;
	border: 3px solid #0070a3;
	background-color: white;
	text-align: center;
	color: #333333;
	border-radius: 8px;
	max-width: 190px;
	max-height: 93px;
	overflow: hidden;
}

.account_button {
	background-color: #00A1E9; 
	border: 3px solid #0070a3;
    color: white;
	padding: 1px 7px 3px 7px;
    text-align: center;
    font-size: 1em; 
	font-family: "Nova Mono", "Century Gothic", Arial;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s
}

.account_button:hover {
	background-color: white;
	color: #333333;
	cursor: pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.addContent, .loginContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 35%;  
	text-align: center; 
	
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus, .close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.closeAdd {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeAdd:focus, .closeAdd:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}



